<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>blacktm / AppYard</title>
  <link rel="stylesheet" href="/pages.css">
  <script src="http://use.typekit.com/hzw5hwn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>

<body>

  <%= yield %>
  
</body>
</html>
